body, html {
  height: 100%;
  margin: 0;
}
.chat-container {
  display: flex;
  height: 100vh;
}
.chat-sidebar {
  flex: 0 0 250px;
  background-color: #2c175a;
  color: white;
  padding: 1rem;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
}
.chat-sidebar.collapsed {
  margin-left: -250px;
}
.chat-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.chat-header {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-messages {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #f1f1f1;
}
.chat-input {
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  background-color: white;
}
.message {
  margin-bottom: 1rem;
  max-width: 70%;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  display: inline-block;
}
.message.user {
  background-color: #d1e7dd;
  align-self: flex-end;
  text-align: right;
}
.message.bot {
  background-color: #e2e3e5;
  align-self: flex-start;
  text-align: left;
}
.dark-mode {
  background-color: #121212 !important;
  color: #e0e0e0 !important;
}
.dark-mode .chat-sidebar {
  background-color: #181818 !important;
  color: white;
}

.dark-mode .conversation-button:hover {
  background-color: #3a3a3a !important;
}

.dark-mode .conversation-button.active {
  background-color: #535151 !important;
}

.dark-mode .chat-main, .dark-mode .chat-input, .dark-mode .chat-header {
  background-color: #1c1c1c !important;
  color: white;
}
.dark-mode .message.user {
  background-color: #225c50 !important;
}
.dark-mode .message.bot {
  background-color: #3a3a3a !important;
}

.dark-mode .modal-content {
  background-color: #3a3a3a !important;
}

.btn-user-icon {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.chat-sidebar li {
  cursor: pointer;
}
.chat-sidebar li.active {
  background-color: #0d6efd;
  color: white;
}

.conversation-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
  background-color: transparent;
  color: white;
  text-align: left;
  border: none;
  border-radius: 0.25rem;
}
.conversation-button:hover {
  background-color: #473b7d;
  cursor: pointer;
}
.conversation-button.active {
  background-color: #514293;
}
.icon-buttons {
  display: flex;
  gap: 0.5rem;
}
.icon-buttons button {
  background: none;
  border: none;
  color: #adb5bd;
  padding: 0;
}
.icon-buttons button:hover {
  color: #ffffff;
}